extends common/layout 

block content
  main
  section.section__dreamshareWorks
    .container
      h2.section__title How Dreamshare works?
      ul.section__dreamshareWorks__list
        li.section__dreamshareWorks__item
          a(href='#')
            article.first-article
              h4.section__dreamshareWorks__step STEP 1
              h3.section__dreamshareWorks__title
                | Sed leo enim, condimentum
              p.section__dreamshareWorks__text
                | Quisque libero libero, dictum non turpis in, luctus semper
                | lorem. Donec rhoncus a leo sit amet facilisis.
        li.section__dreamshareWorks__item
          a(href='#')
            article.second-article
              h4.section__dreamshareWorks__step STEP 2
              h3.section__dreamshareWorks__title
                | Morbi velit risus
              p.section__dreamshareWorks__text
                | Nulla venenatis tempor dui in molestie. Nulla quis dictum
                | purus, sit amet porttitor est.
        li.section__dreamshareWorks__item
          a(href='#')
            article.third-article
              h4.section__dreamshareWorks__step STEP 3
              h3.section__dreamshareWorks__title
                | Sed leo enim, condimentum
              p.section__dreamshareWorks__text
                | Quisque libero libero, dictum non turpis in, luctus semper
                | lorem. Donec rhoncus a leo sit amet facilisis.
  section.section__meetPartner
    .container
      h2.section__title Meet a partner for your best holiday
      ul
        li
          img.section__meetPartner__foto(src='./images/mobile/Avatar-min.png', alt='фото')
          h3.section__meetPartner__title Bradley Hunter
          p.section__meetPartner__text
            | Based in Chicago. I love playing tennis and loud music.
        li
          img.section__meetPartner__foto(src='./images/mobile/Avatar(3)-min.png', alt='фото')
          h3.section__meetPartner__title Diana Wells
          p.section__meetPartner__text
            | Living in Athens, Greece. I love black and white classics,
            | chillout music and green tea.
        li
          img.section__meetPartner__foto(src='./images/mobile/Avatar2-min.png', alt='фото')
          h3.section__meetPartner__title Marie Bennett
          p.section__meetPartner__text
            | Currently living in Colorado. Lover of art, languages and
            | travelling.
        li
          img.section__meetPartner__foto(src='./images/mobile/Avatar(4)-min.png', alt='фото')
          h3.section__meetPartner__title Christopher Pierce
          p.section__meetPartner__text
            | Star Wars fanatic. I have a persistent enthusiasm to create new
            | things.
      button.section__meetPartner__button
        | See other partners
  section.section-holidayActivity
    .container
      h2.section__title Discover holiday activity ideas
      ul.section-holidayActivity__list
        li
          a(href='#')
            .section-holidayActivity__item.first
              h3.section-holidayActivity__item__title
                | Sports and Activis
        li
          a(href='#')
            .section-holidayActivity__item.second
              h3.section-holidayActivity__item__title
                | Wellness and Health
        li
          a(href='#')
            .section-holidayActivity__item.third
              h3.section-holidayActivity__item__title
                | Extreme Sports and Expeditions
        li
          a(href='#')
            .section-holidayActivity__item.fourth
              h3.section-holidayActivity__item__title Games
        li
          a(href='#')
            .section-holidayActivity__item.fifth
              h3.section-holidayActivity__item__title
                | Culture and Education
        li
          a(href='#')
            .section-holidayActivity__item.sixth
              h3.section-holidayActivity__item__title
                | Enjomet and Relaxation
        li
          a(href='#')
            .section-holidayActivity__item.seventh
              h3.section-holidayActivity__item__title
                | Trevelling
  section.section-form
    .container
      h2.section__title Crate your holiday activity
      p.section-form__text Hi! What are your holiday interests?
      .section-form__flex
        form
          input.section-form__email(type='email', name='email', placeholder='Enter your insterests')
        button.header__top__mainButton Search partners

