footer
  .container
    nav.footer__nav
      a.footer__top__logo(href='./index.html') DREAMSHARE
      .footer__nav__menu
        h3 Company
        ul
          li About
          li Contact
          li Press
          li Blog
          li Terms and Privacy
          li Help
      h3 Partners
      .footer__copy__logo
        p DESIGNED BY
        a(href='')
          img(src='./images/mobile/Bitmap-min.png', width='110', height='24', alt='лого розробника')