header
  .container
    .header__top
      a.header__top__logo(href='./index.html') DREAMSHARE
      .header__top__buttons
        button.header__top__buttons_style Log in
        button.header__top__buttons_style.sign-in Sign up
    div
      h1.header__top__title SHARE YOUR HOLIDAY DREAM
      p.header__top__text
        | And find the perfect partner to fullfill it
      button.header__top__mainButton
        | Find your holiday partner